<div  class = "container text-center p-5 mb-auto">
    {{#if isAuthenticated}}
    <div class="row justify-content-center">
            <div class="col-6 border rounded border-2 bg-color border-black"> 
                <h2 class="text-light">Bienvenido {{nombre}} !</h2>
                <p class="text-light"> Revisa tus elecciones o crea nuevas, tambien puedes revisar las votaciones activas!
                </p> 
                <p class="text-light">Seleccione una opción</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class = "col py-3">
                <a href="/usuario/elecciones_user"><button class="btn btn-primary btn-lg">Mis elecciones</button></a>
            </div>
            <div class="col py-3">
                <a href="/crear_eleccion"><button class="btn btn-primary btn-lg">Crear elecciones</button></a>
            </div>
            <div class="col py-3">
                <a href="/votaciones"><button class="btn btn-primary btn-lg">Ingresar a las votaciones</button></a>
            </div>
    </div>
    {{else}}
    <div class="row justify-content-center">
            <div class="col-6 border rounded border-2 bg-color border-black"> 
                <h2 class="text-light">Bienvenidos!</h2>
                <p class="text-light">En esta página puedes crear tus eventos y votar en los eventos que quieras, para esto puedes crear tu
                cuenta registrándote a continuación, en caso de que ya tengas una cuenta ingresada encuentra los eventos que quieras o créalos!
                </p> 
                <p class="text-light">Seleccione una opción</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class = "col py-3">
                <a href="/usuario/login"><button class="btn btn-primary btn-lg">Ingresar administrador</button></a>
            </div>
            <div class="col py-3">
                <a href="/usuario/crear"><button class="btn btn-primary btn-lg">Registrar administrador</button></a>
            </div>
            <div class="col py-3">
                <a href="/votaciones"><button class="btn btn-primary btn-lg">Ingresar a las votaciones</button></a>
            </div>
    </div>
    {{/if}}

</div>