<div class="container d-flex justify-content-center align-items-center mb-auto">
        <form  action="/crear_eleccion" method="post" class="border rounded border-3 bg-color border-black">
            <h2 class="text-light mb-5">Crear Elecciones</h2>

            <label for="nombre_evento" class="form-label text-light">Nombre del evento:</label>
            <input type="text" class="form-control" name="nombre_evento" required><br><br>

            <label for="candidato1" class="form-label text-light">Candidato 1:</label>
            <input type="text" class="form-control" name="candidato1" required><br><br>

            <label for="candidato2" class="form-label text-light">Candidato 2:</label>
            <input type="text" class="form-control" name="candidato2" required><br><br>

            <label for="candidato3" class="form-label text-light">Candidato 3:</label>
            <input type="text" class="form-control" name="candidato3" required><br><br>

            <input type="submit" class="btn btn-primary" value="Crear">

        </form>
</div>